
$defaultFontFamily: 'arial','微软雅黑';
$defaultFontSize: 12px;
$defaultFontColor:#333333;
$defaultColor: #FF5300;
$activeColor: #FF6C26;
$selectedColor: #E54A00;
$popFontFamily: $defaultFontFamily;
$popFontFamily: $defaultFontFamily;
$popFontSize:14px;
$colorRed:#e05454;
$colorGray:#333333;
$popElementHeight: 30px;