@import '../../../stylesheet/common.scss';

.order-all-orders{
  .double-row{
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding-left: 5px;
    span {
        height: 20px;
        font-size: 12px!important;
        line-height: 20px;
    }
  }
  .ant-table-wrapper .ant-table-thead > tr > th span {
      //font-size:12px !important;
  }
}
.preview-img{
  .ant-modal-footer{
    display: none;
  }
}