.spu-table{
    .line-operation{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .inline-with-btn{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .link-btn{
            margin-left: 10px;
            width: 24px;
            min-width: 24px;
        }
    }
    .ant-table-wrapper .ant-table-thead > tr > th span {
        font-size:12px !important;
    }
}