.input-group {
  position: relative;
  display: table;
  /*display: inline-block;*/
  vertical-align: middle;
  .input-text {
    position: absolute;
    left: 70px;
    top: 1px;
    z-index: 10;
  }
  .input-unit {
    left: 66px !important;
  }
  .i-icon {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: initial;
  }
  .input-group-addon {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    color: #555;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
  }
  input {
    width: 60px;
    height: 26px;
    border-radius: 0;
    vertical-align: middle;
    display: table-cell;
    line-height: 1.2;
  }
  .btn-days {
    padding: 4px 7px;
    background-color: #45b9b0;
    border: 1px solid #ddd;
    color: #fff;
    border-bottom: 1px solid #45b9b0;
    border-top: 1px solid #45b9b0;
  }
  .btn-days[disabled] {
    background-color: #f6f6f6;
    color: #ddd;
    border: 1px solid #ddd;
  }
  .count-input {
    background: #efefef;
/*    border-top: 1px solid #45b9b0;
    border-bottom: 1px solid #45b9b0;*/
  }
}