@import '../../../stylesheet/common.scss';
.allorder-detail-payment-modal {
  .ft-red {
    color: $defaultColor;
  }
  .mt10 {
    margin-top: 10px;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .mt40 {
    margin-top: 40px;
  }
}