.input-sm {
	height: 30px;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 2px;
}
.w120 {
  width: 120px!important;
}
.input-icon-calendar {
  /*background: #fff url(http://simg1.qunarzz.com/crs/common/icon-calendar.png) 95% center no-repeat;*/
}
.arrow-icon:before {
  content: "\e62a";
}