.rangeDatepicker input{
  width:120px;
}
.input-ss {
  height: 30px;
  padding: 4px !important;
  font-size: 14px;
  line-height: 1.428571429;
  background-image: none;
  border: 1px solid #ddd;
  font-size: 12px;
  border-radius: 4px;
}
.pos-relative{
  position: relative;
}
.calendar-ico {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 20px;
  color: #45b9b0!important;
}