@import '../../../stylesheet/common';
.bank-account-page{
  padding: 0 18px;
  .account-line{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid #dedede;
    border-radius: 4px;
    .account-info{
      padding: 10px 0;
      span{
        line-height: 1.5;
      }
    }
    .left{
      display: inline-block;
      width: 120px;
      text-align: right;
    }
    .btns{
      width: 250px;
      padding: 10px 50px 10px 0;
      text-align: left;
    }
  }


}